body {
  background-color:  rgba(255, 255, 224, 0.24);
  font-family:Arial, Helvetica, sans-serif ;
}

.active {
  background-color: aliceblue;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.pepe {
  height: 100vh;
}

.footer2 {
  display: inline-block;
  justify-content: center;
}

.navbar {
  margin-top: 60px;
  padding: 20px;
  display: inline-block;
  justify-content: center; /* Para centrar el contenido horizontalmente */
  align-items: center; /* Para centrar el contenido verticalmente */
  width: 100%;
}

img {
  width: 150px;
  height: 150px;
}
